@import '../../../../variables';

.nav-field-title {
  text-align: center;
  color: #000000;
  font-size: 1.9em;
  font-family: 'Teko', sans-serif;
}

.chaos-bag-wrapper {
  border-radius: 14px;
  display: flex;
  // max-width: 600px;
  // justify-content: space-evenly;
  justify-content: center;
  flex-wrap: wrap;
  padding: 15px;
  margin-left: 20px;
  margin-right: 20px;
  // width: 50%;
  // margin: 0 auto;

  &.bag {
    border: 2px solid #3a3a39;
    background-color: #dbc98ce3;
  }

  &.bank {
    border: 2px solid #3a3a39;
    background-color: #dfdedee3;
  }
}

//  ! Form

.form {
  display: grid;
  justify-content: center;
  align-items: end;
  padding-top: 6px;
}

input[type=number] {
  max-width: 50px;
}

input[type=number]:focus {
  background-color: #e4ac78;
}

label {
  font-size: 1.2em;
  font-family: 'Teko', sans-serif;
  padding-right: 16px;
}

.btn {
  background-color: #3a3a39;
  border: none;
  color: white;
  padding: 0px 16px;
  text-decoration: none;
  margin: 4px 8px;
  cursor: pointer;
  font-size: 1em;
  font-family: 'Teko', sans-serif;

  &:hover {
    background-color: #754319;
  }
}


.chaos-token {
  width: 60px;
  height: 60px;
  background-size: 100%;
  cursor: pointer;
  margin: 4px;
}

.chaos-plus1 {
  background-image: url("#{$assetsPath}chaosbag/ct_+1.png");
}

.chaos-zero {
  background-image: url("#{$assetsPath}chaosbag/ct_0.png");
}

.chaos-minus1 {
  background-image: url("#{$assetsPath}chaosbag/ct_-1.png");
}

.chaos-minus2 {
  background-image: url("#{$assetsPath}chaosbag/ct_-2.png");
}

.chaos-minus3 {
  background-image: url("#{$assetsPath}chaosbag/ct_-3.png");
}

.chaos-minus4 {
  background-image: url("#{$assetsPath}chaosbag/ct_-4.png");
}

.chaos-minus5 {
  background-image: url("#{$assetsPath}chaosbag/ct_-5.png");
}

.chaos-minus6 {
  background-image: url("#{$assetsPath}chaosbag/ct_-6.png");
}

.chaos-minus7 {
  background-image: url("#{$assetsPath}chaosbag/ct_-7.png");
}

.chaos-minus8 {
  background-image: url("#{$assetsPath}chaosbag/ct_-8.png");
}

.chaos-skull {
  background-image: url("#{$assetsPath}chaosbag/ct_skull.png");
}

.chaos-cultist {
  background-image: url("#{$assetsPath}chaosbag/ct_cultist.png");
}

.chaos-tablet {
  background-image: url("#{$assetsPath}chaosbag/ct_tablet.png");
}

.chaos-elderthing {
  background-image: url("#{$assetsPath}chaosbag/ct_elderthing.png");
}

.chaos-autofail {
  background-image: url("#{$assetsPath}chaosbag/ct_autofail.png");
}

.chaos-eldersign {
  background-image: url("#{$assetsPath}chaosbag/ct_eldersign.png");
}

.chaos-heart {
  background-image: url("#{$assetsPath}chaosbag/ct_heart.png");
}
