<div class="newgame-nav-menu">
  <button class="btn-newgame" (click)="onCommand('switchPage', previousPage)">Back</button>
  <div class="newgame-nav-field-title">{{ selScenario.campaign }}</div>
  <button class="btn-newgame" (click)="onCommand('switchPage', nextPage)">Start</button>
</div>

<hr class="hr-newgame" />

<div class="text-description-title">{{ selScenario.title }}</div>
<div class="text-description">{{ selScenario.description[0] }}</div>

<div class="newgame-image">
  <img src="assets/others/campaign1.png" alt="" />
</div>
