@import '../../../../variables';

.play1-card-wrapper {
  position: absolute;
  top: $FirstNavRow + 40px;
  left: $fifthColumnLeft;
  width: 440px;
  min-height: 293px;
  overflow: hidden;
  &:last-child {
    border: none;
  }

  &.single {
    position: absolute;
    left: $fifthColumnLeft + 115px;
    width: 210px;
    height: 293px;
    overflow: hidden;
  }

  &.multiple {
    display: flex;
    min-height: 293px;
    min-width: 440px;
    flex-direction: row;
  }
}
