.game-main-container {
  position: relative;
  margin-left: 36px;
}

.change-diff {
  position: absolute;
  top: 110px;
  left: 500px;
}


.loading-container {
  margin-top: 8px;
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  font-size: 1.1em;
  padding: 0px 50px;
  font-family: 'Teko', sans-serif;
}

.lds-hourglass {
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-hourglass:after {
  content: ' ';
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 6px;
  box-sizing: border-box;
  border: 26px solid #962d04;
  border-color: #bd6615 transparent #bd6615 transparent;
  animation: lds-hourglass 1.2s infinite;
}

@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
