<div class="home-container">

  <div class="nav-field-title">Welcome to Play Arkham World</div>
  <div class="text-description">
    This site contains a digital version of "Arkham Horror: The Card Game" by Fantasy Flight Games.
  </div>

  <div class="nav-field-title">Disclaimer</div>

  <div class="text-description">
    Play Arkham World is developed as a hobby project in spare time. It is intended to run on a 1920 pixels wide screen
    (preferably in full screen (hit F11)).
  </div>

  <div class="text-description">
    The game is not suitable for Mobile devices. Game progress is stored in your browsers local storage and cannot be
    transferred between browsers or devices. Please send bug report or ideas to alittlebitofcode@gmail.com
  </div>

  <div class="nav-field-title">
    Copyright
  </div>
  <div class="text-description">
    The Card Game, both literal and graphical, is copyrighted by Fantasy Flight Games. This website is not produced,
    endorsed, supported, or affiliated with Fantasy Flight Games.
  </div>
  <br>
  <br>
  <button class="btn" [routerLink]="['/newgame']">Start Here</button>
</div>
