@import url('https://fonts.googleapis.com/css?family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');
@import "../node_modules/alertifyjs/build/css/alertify.min.css";
@import "../node_modules/alertifyjs/build/css/themes/default.min.css";
@import './variables';

@font-face {
  font-family: ArkhamLogo;
  src: url(assets/fonts/AH_LCG_v3.ttf) format('truetype');
}

body {
  margin: 0;
}

/* html {
  background: url('#{$assetsPath}others/Arkham-Cover3.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

.empty-deck {
  // position: inherit;
  position: absolute;
  height: 293px;
  width: 210px;
  border-radius: 12px;
  background-color: #85806a;
  overflow-y: hidden;
  cursor: auto;
}

.empty-deck-horizontal {
  // position: absolute;
  width: 293px;
  height: 210px;
  border-radius: 12px;
  background-color: #85806a;
  overflow: hidden;
}

.cdk-drag-preview {
  background-size: 100%;
  opacity: 0.6;

  // &.portrait{
  //   display: none;
  // }
}

.cdk-drop-list-dragging {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  .card-arkham:hover {
    z-index: 0;
  }
}

// .nav-location-item {
//   &.cdk-drop-list-dragging {
//     img {
//       transform: scale(.5);
//     }
//   }
// }

.cdk-drag-placeholder {
  opacity: 0.5;

  &.portrait {
    display: block;
  }
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.multiple.cdk-drop-list-dragging .card-arkham:not(.cdk-drag-placeholder) {
  transition: transform 500ms ease;
}

.token {
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  width: 60px;
  height: 60px;
  background-size: 100%;
  display: inline-block;
  background-repeat: no-repeat;

  &.resource {
    background-image: url('#{$assetsPath}tokens/resource.png');
  }

  &.sanity {
    background-image: url('#{$assetsPath}tokens/sanity.png');
  }

  &.health {
    background-image: url('#{$assetsPath}tokens/health.png');
  }

  &.clue {
    background-image: url('#{$assetsPath}tokens/clue.png');
  }

  &.doom {
    background-image: url('#{$assetsPath}tokens/doom.png');
  }

  &.action {
    background-image: url('#{$assetsPath}tokens/action.png');
  }
}
