$imagePath: '~/bundles/';
$assetsPath: '~/assets/';
$FirstNavRow: 229px;
$SecondNavRow: 574px;
$firstColumnLeft: 0px;
$secondColumnLeft: 472px;
$thirdColumnLeft: 822px;
$forthColumnLeft: 1062px;
$fifthColumnLeft: 1412px;
