<div class="card-list-wrapper">
  <div class="cards-table">
    <ng-container *ngFor="let card of deckList[id]; let i = index">
      <div class="card-list-item" [class.active]="selectedPreviewCard === card.code" (click)="selectedCard(card.code)">
        <i class="faa fa-{{ card.faction_code }}"></i>
        <div>
          {{ card.name }}
        </div>
        <div class="card-list-item-quantity">
          {{ card.qtyInDeck }}
        </div>
      </div>
    </ng-container>
  </div>

  <div class="card-display">
    <ng-container *ngIf="selectedPreviewCard">
      <img src="assets/cards/{{ selectedPreviewCard }}.jpg" alt="" />
    </ng-container>
  </div>
</div>
